@font-face {
    font-family: Arvo;
    src: url(./styles/Arvo/Arvo-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./styles/Poppins/Poppins-Regular.ttf);
}


body{
    font-family: Poppins;
    font-size: 14px;
}

h1 {
    font-family: Arvo;
    font-size: 40px;
    text-align: center;
}

.subtexto {
    font-family: Poppins;
    font-size: 14px;
    margin-bottom: 20px;
    text-align:left

}

.cabecera {
    display: block;
}

.formulario {
    display: block;
}

.lista {
    width: 500px;
    height: 50px;
}

.email {
    margin-bottom: 20px;
    font-weight: bold;
}

.username {
    margin-bottom: 20px;
    font-weight: bold;
}

.password {
    margin-bottom: 20px;
    font-weight: bold;
}

a {
    color: cadetblue;
    font-weight: bold;
    text-decoration: none;
}

.bloque1{
    float: left;
    height: 1000px;
}

.bloque2{
    display: block;
    width: 500px;
    float: left;
}

img {
    width: 250px;
    height: 250px;
    margin-right: 50px;
}

input {
    width: 200px;
}

.cajaem {
    width: 480px;
    height: 35px;
    font-family: Poppins;
}

.cajaus {
    width: 480px;
    height: 35px;
    font-family: Poppins;
}

.cajapas {
    width: 480px;
    height: 35px;
    font-family: Poppins;
}

li {
    list-style: none;
}

li::before {
   color: cadetblue;
   content: "\2022";
   display: inline-block;
            width: 2em;
            margin-left: -1em;
}


.check {
    float: left;
    margin-top: 5%;
}

.offers {
    width: 330px;
    float: right;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.lista1 {
    margin-right: 80px;
    float: left;
}

.lista2 {
    float: left;
}

button {
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
    font-family: Poppins;
    font-size: 16px;
    margin-top: 20px;
}

.texto {
    font-size: 14px;
    width: 290px;
    float: right;
}

.boton {
    display: inline-block;
}


.terms {
    display: block;
    float: left;
}